<!-- {% extends "master.html" %}

{% block title %}
Register - My Baseball Club
{% endblock %}


{% block content %}
<h1>Register into My Baseball Club</h1>

<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="m-2">
        <div class="row">
            <div class="form-group col-6">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control">
            </div>

            <div class="form-group col-6">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" class="form-control">
            </div>

            <div class="form-group col-6">
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" class="form-control">
            </div>

            <div class="form-group col-6">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" class="form-control">
            </div>
        </div>
        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>


{% endblock %} -->

{% extends "master.html" %}

{% block title %}
Register - My Baseball Club
{% endblock %}

{% block content %}
<h1>Register into My Baseball Club</h1>

<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="m-2">
        {{ form.as_p }}
        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>

{% endblock %}